.button_info{   
font-size: 14px!important;
    height: 34px!important;
    line-height: 31px!important;
    padding: 0 10px!important;

}
	
.button.button-blue-secondary {
background: #0085ba;
border-color: #0073aa #006799 #006799;
-webkit-box-shadow: 0 1px 0 #006799;
box-shadow: 0 1px 0 #006799;
color: #fff;
text-decoration: none;
}